* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$primaryColor: #af9a7d;
$mainWhite: #fff;
$offWhite: #f7f7f7;
$mainBlack: #222;
$mainGrey: #ececec;
$darkGrey: #cfcfcf;
$mainTransition: all 0.3s linear;
$mainSpacing: 3px;
$lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
$darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);

body {
    padding-top: 66px;
    color: $mainBlack;
    background: $mainWhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.4;
}

.btn-primary {
    display: inline-block;
    text-decoration: none;
    letter-spacing: $mainSpacing;
    color: $mainBlack;
    background: $primaryColor;
    padding: 0.4rem 0.9rem;
    border: 3px solid $primaryColor;
    transition: $mainTransition;
    text-transform: uppercase;
    cursor: pointer;
}
.btn-primary:hover {
    background: transparent;
    color: $primaryColor;
}
.loading {
    text-transform: capitalize;
    text-align: center;
    margin-top: 3rem;
}
.error {
    text-align: center;
    text-transform: uppercase;
    margin: 2rem 0;
}
.empty-search {
    text-align: center;
    text-transform: capitalize;
    margin: 2rem 0;
    padding: 1rem;
    letter-spacing: $mainSpacing;
}
/*Navbar*/
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.75rem 2rem;
    background: $offWhite;
    z-index: 1;
}
.nav-header {
    display: flex;
    justify-content: space-between;
}
.nav-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}
.nav-icon {
    font-size: 1.5rem;
    color: $primaryColor;
}
.nav-links {
    height: 0;
    overflow: hidden;
    transition: $mainTransition;
    list-style-type: none;
}
.nav-links a {
    display: block;
    text-decoration: none;
    padding: 1rem 0;
    color: $mainBlack;
    transition: $mainTransition;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bolder;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    letter-spacing: $mainSpacing;
}
.nav-links a:hover {
    color: $primaryColor;
}

.show-nav {
    height: auto;
}
@media screen and (min-width: 768px) {
    .nav-btn {
        display: none;
    }
    .nav-center {
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
    }
    .nav-links {
        height: auto;
        display: flex;
        margin-left: 4rem;
    }
    .nav-links a {
        margin: 0 1rem;
        padding: 0.5rem 0;
    }
}
/*End Navbar*/
/*Hero*/
.defaultHero {
    height: 100px;
    width: 100px;
    display: inline-block;
    display: flex;
    background-image: url("./images/Cosmos-hero-1.jpg") center/cover no-repeat;
}
/*End Hero*/
/*Hero*/
.banner {
    display: inline-block;
    color: $mainWhite;
    padding: 2rem 1rem;

    h1 {
        color: red;
    }
}
/*End Hero*/
