* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$primaryColor: #af9a7d;
$mainWhite: #fff;
$offWhite: #f7f7f7;
$mainBlack: #222;
$mainGrey: #ececec;
$darkGrey: #cfcfcf;
$mainTransition: all 0.3s linear;
$mainSpacing: 3px;
$lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
$darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);

body {
    width: 95%;
    padding-top: 66px;
    color: $mainBlack;
    background: $mainWhite;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    line-height: 1.4;
}

.btn-primary {
    display: inline-block;
    text-decoration: none;
    letter-spacing: $mainSpacing;
    color: $mainBlack;
    background: $mainWhite;
    padding: 0.4rem 0.9rem;
    border: 3px solid $mainWhite;
    transition: $mainTransition;
    text-transform: uppercase;
    cursor: pointer;
}
.btn-primary:hover {
    background: transparent;
    color: $mainWhite;
}
.loading {
    text-transform: capitalize;
    text-align: center;
    margin-top: 3rem;
}
.error {
    text-align: center;
    text-transform: uppercase;
    margin: 2rem 0;
}
.empty-search {
    text-align: center;
    text-transform: capitalize;
    margin: 2rem 0;
    padding: 1rem;
    letter-spacing: $mainSpacing;
}

/*Navbar*/

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.75rem 2rem;
    background: $offWhite;
    z-index: 1;
}
.nav-header {
    display: flex;
    justify-content: space-between;
}
.nav-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}
.nav-icon {
    font-size: 1.5rem;
    color: $primaryColor;
}
.nav-links {
    height: 0;
    overflow: hidden;
    transition: $mainTransition;
    list-style-type: none;
}
.nav-links a {
    display: block;
    text-decoration: none;
    padding: 1rem 0;
    color: $mainBlack;
    transition: $mainTransition;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bolder;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    letter-spacing: $mainSpacing;
}
.nav-links a:hover {
    color: $primaryColor;
}

.show-nav {
    height: auto;
}
@media screen and (min-width: 1068px) {
    .nav-btn {
        display: none;
    }
    .nav-center {
        max-width: 1170px;
        margin: 0;
        display: flex;
    }
    .nav-links {
        height: auto;
        display: flex;
        margin-left: 4rem;
    }
    .nav-links a {
        margin: 0 1rem;
        padding: 0.5rem 0;
    }
}

/*End Navbar*/

/*Banner*/

.banner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25rem;
    background-image: url("./images/Cosmos-hero-1.jpg");
    opacity: 0.8;
    color: $mainWhite;
    .banner-center {
        padding: 5rem 2rem;
        .banner-text {
            padding: 2rem;
            text-align: center;
            border: 3px solid $mainWhite;
            border-radius: 5px 5px;
            background-color: $lightShadow;
            letter-spacing: $mainSpacing;
            box-shadow: 0px 0px 20px $mainWhite;
            .btn-primary {
                margin-top: 1rem;
            }
        }
    }
    img {
        width: 19rem;
        border: 3px solid $mainWhite;
        border-radius: 5px 5px;
        box-shadow: 0px 0px 20px $mainWhite;
    }
    @media screen and (max-width: 1068px) {
        .banner-center {
            display: none;
        }
    }
}

/*End Banner*/

/*Books and Home*/
.container {
    width: 80%;
    height: 400px;
    overflow: hidden;
    margin: 5rem 5rem 0 5rem;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    font-size: 1.5rem;

    p {
        text-indent: 2em;
    }
    h1 {
        margin: 1rem 4rem;
        font-size: 2.8rem;
    }

    p {
        margin: 1rem;
        list-style: none;
    }
}

.btn {
    margin-left: 75%;
    font-weight: 900;
    margin-bottom: 5rem;
    color: $primaryColor;
    outline: none;
    &:hover {
        color: $darkGrey;
    }
}

.show {
    height: auto;
}

/*End Books home*/

/*Gallery*/
.image-container {
    flex-wrap: wrap;
    img {
        margin: 5rem;
        width: 20rem;
        border: 5px solid darkGrey;
        border-radius: 15px 15px;
        box-shadow: 3px 3px 3px $mainBlack;

        &:hover {
            opacity: 0.7;
            box-shadow: 5px 5px 5px $mainBlack;
        }
    }
}
/*End Gallery*/

/*Contacts*/
.contacts-container {
    font-size: 3rem;
    margin: 5rem 15rem;
}
/*End Contacts*/

/*Not Found*/
.not-found {
    margin: 0 5rem 5rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    h1 {
        margin: 2rem 0;
        color: $primaryColor;
    }
    img {
        width: 25rem;
    }
}

/*End Not Found*/
